/*
.search {
  color: red;
  font-size:;
}

p {
  font-size:;
}

.main-navigation div{
  font-size:;
}

.main-header .main-navigation .user-navigation div {
  color: red;
  font-size: 100px;
}

.footer-navigation .user-navigation div {
  color: yellow;
  font-size: 50px;
}


.search-icon {
  background-color: #000000;
  width: 16px;
  height: 16px;
  background-image: url("img/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

*/
